#Kontinieri{
    background:8px rgb(212, 207, 207);
    margin-top: 5%;
    margin: auto;
    max-width: 900px;


}
.kontenti{
    max-width: 600px;
    border: 10px;
    margin:auto;
    padding: 50px 50px;
}
