#Kontinieri{
    background:8px rgb(234, 231, 231);
    margin-top: 5%;
    margin: auto;
    max-width: 2000px;


}







body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}


nav ul {
    list-style: none;
margin: 0;
    padding: 0;
}
.kontenti h2{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}


nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color:blue; 
}
.navbar{
    display: flex;
    justify-content: center;
}


.logo {
    width: 20%;
    height : auto;
    cursor: pointer;
    cursor: pointer;
    justify-content:center;



    cursor: pointer;
   
}


.kontenti{
    max-width: 600px;
    margin:auto;
    padding: 50px 50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 10px 0;
    
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    display:inline-flex;
    margin : 10px 20px;
}
nav  a {
    text-decoration: none;
    color:darkslategrey;
}

.fotot {
   flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    position:relative;
   
    
   
    
}
.background-image {
    width: 170%;
    height: 150%;
    border-radius: 50% ;
    position:absolute;
    top: 50%;
    left: 123%;
    z-index: 1; 
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 123%;
    z-index: 1; 
    transform: translate(-50%, -50%);
    object-fit: cover;
   
}

.text {
  position:relative;
  
}

.text h4{
  position: relative;
  z-index:10;
}

.classes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e9fac4;
   border-radius: 100px;
   
  }

.classes .loc h1{
   text-shadow: #333;
   letter-spacing: normal;
   font-family: 'Times New Roman', Times, serif;
}

.classes .travelers h1{
    text-shadow: #333;
   letter-spacing: normal;
   font-family: 'Times New Roman', Times, serif;
}
.classes .check h1{
    text-shadow: #333;
   letter-spacing: normal;
   font-family: 'Times New Roman', Times, serif;
}

.classes .checko h1{
    text-shadow: #333;
   letter-spacing: normal;
   font-family: 'Times New Roman', Times, serif;
}

.f {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    background-color: #b1b1b0;
    border-radius: 30px;
    padding: 60px;
}

.f h5 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(138, 89, 25);
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.f ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}


.f li {
    display: inline-block; 
    margin-right: 5px; 
}


.f h1 {
    color: #333;
    font-size: large;
}







footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background: #517e92;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 30%;
}

footer .container .sec.aboutus ul {
    display: inline;
    justify-content: space-between;
    align-items: center;
}

footer .container .sec.aboutus h2 {
    position: relative;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .sec.aboutus h2:before {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bdd5e3;
    padding: 20px;
    background: rgb(48, 127, 200);
}



.container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
}

.sec.aboutus {
    position: relative;
    padding: 10px;
    font-weight: 500;
    margin-bottom: 15px;
}

.secquicklinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;
 
}

.secquicklinks h2 {
    position: relative;
    color: #0e0808;
    font-weight: 500;
    margin-bottom: 15px;
}

.secquicklinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.secquicklinks ul li {
    margin-bottom: 10px;
  
}

.secquicklinks ul li a {
    color: #999;
    text-decoration: none;
}

.secquicklinks ul li a:hover {
    color: #fff;
}

.sci {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: rgb(77, 207, 212);
}

footer .container {
    
margin-right: 45%;
position: relative;
    
}

footer .container .sec.contact {
    
    position: relative;
    margin-left: 20px;
   
 
    
}



.copyRightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;

}


@media screen and(max-width: 940px){
    body{
        width: 85%;
        height: auto;
        padding: 60px 0;
        }
        .background-image{
            width: 85%;
            height: auto;
        }
       
.kontenti{
    max-width: 600px;
    margin:auto;
    padding: 50px 50px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 10px 0;
    
}

        .overlay-image{
            width: 85%;
        height: auto;
        }
        .fotot{
            display: inline;
            height: auto;

        }
        .nav ul li {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
        }

        .container {
            display: flex;
            width: 85%;
            height: auto;
            padding: 60px 0;
        }


    footer{
        padding: 30px;

    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;

    }
    footer .container .sec.aboutus,
    .secquicklinks,
    .contact{
        width: 100%;
    }
    .copyRightText{
        padding: 8px 40px;
    }
}

#slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI light', Tahoma;
    max-width: 100%; 
    margin: 0 auto;
    overflow: hidden; 
}

#slider img {
    width: 100%; 
    height: auto;
 }

button {
    border-radius: 100%;
    border-style: inherit;
    width: 40px;
    height: 40px;
    font: 10pt;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(189, 186, 186);
}

.dots {
    display: flex;
    margin-top: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}
@media screen and (max-width: 600px) {
   
    .fotot {
        width: 100%; 
    }

    .background-image,
    .overlay-image {
        width: 100%; 
        height: auto; 
    }
}